<div class="container">
    <div [hidden]="submitted">
        
      <h1>Registration From</h1>
      <button type="button" (click)="onHistory()" class="btn btn-primary float-auto">History</button>
       <br/> 
       <br/>


      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div class="form-group">
              <label for="first_name">Usere Id</label>
              <input type="text" class="form-control" id="first_name" required [(ngModel)]="id" name="id">
            
            </div>
              <div class="form-group">
              <label for="provider_name">Enter Provider name who can access your details</label>
              <input type="text" class="form-control" id="provider_name" required [(ngModel)]="provider_name" name="provider_name">
            
            </div>
           

        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" required [(ngModel)]="first_name" name="first_name">
       
        </div>
        <div class="form-group">
          <label for="first_name">Last Name</label>
          <input type="text" class="form-control" id="first_name" required [(ngModel)]="last_name" name="last_name">
        
        </div>
        <div class="form-group">
          <label for="first_name">Date of Birth</label>
          <input type="text" class="form-control" id="first_name" required [(ngModel)]="DOB" name="DOB">
         
        </div>
        <div class="form-group">
          <label for="first_name">Mail</label>
          <input type="text" class="form-control" id="first_name" required [(ngModel)]="mail" name="mail">
        
        </div>
        <div class="form-group">
          <label for="first_name">SSN</label>
          <input type="text" class="form-control" id="first_name" [(ngModel)]="SSN" name="SSN">
  
        </div>
        <div class="form-group">
          <label for="first_name">MSP</label>
          <input type="text" class="form-control" id="first_name" [(ngModel)]="MSP" name="MSP">
  
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>Your Enrollment/Updates has been completed sucessfully, below are the details:</h2>
      <div class="row">
          <div class="col-xs-3">Provier Name</div>
          <div class="col-xs-9">{{ provider_name }}</div>
        </div>
      <div class="row">
        <div class="col-xs-3">First Name</div>
        <div class="col-xs-9">{{ first_name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Last Name</div>
        <div class="col-xs-9">{{ last_name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email ID</div>
        <div class="col-xs-9">{{ mail }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">DOB</div>
        <div class="col-xs-9">{{ DOB }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">SSN</div>
        <div class="col-xs-9">{{ SSN }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">MSP</div>
        <div class="col-xs-9">{{ MSP }}</div>
      </div>
      <br>
    <!-- <button class="btn btn-primary" (click)="submitted=false">Edit</button> -->
    </div>
  </div>